.trips-container{
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 100%;

    .sort-row{
        width: 100%;
        display: flex;
        padding: 10px;
        border-bottom: solid thin;
        
        div{
            display: inline-block;
            margin: 0 10px 0 auto;
            span{
                border-right: solid thin;
                padding: 0 5px;
            }
            span:first-child{
                padding-right: 9px;
            }
            span:last-child{
                border-right: none;
            }
        }  
    }

    .trip{
        width: 30%;
        padding: 5px 5px 10px;
        flex-wrap: wrap;
        margin: 10px auto;
        border: solid thin rgba(0,0,0,0.1);
        border-radius: 5px;
  
        .trip-content{
            width: 100%;    
            flex-wrap: wrap;
            .trip-name{
                font-weight: bold;
                font-size: 1.2rem;
                width: 100%;
            }

            div{
                width: 100%;
                text-align: justify;
                margin-bottom: 5px;
            }
        
            .trip-gallery{
                width: 40%;
                img{
                    width: 420px;
                }

            }

            
        }
    }
}

.trip-price{
    font-size: 1.5rem;
    color: $accentcolor;
}

.trip-book{
    text-align: center;
    margin-top: 20px;
    .trip-book-button{

        background-color: $accentcolor;
        color: white;
    }
}



.trip-view{
    height: 100%;
    background: white;
    // margin-top: 5px;
    padding: 5px;
    .trip-gallery{
        margin: 0 auto;
        width: 650px;
        img{
            width: 650px;
            height: 390px;
        }

        div{
            font-size: 4rem;
            color: white;
            position: absolute;
            transform: translate(0,158px);

        }

        div:nth-child(2){
            transform: translate(610px, 158px);
        }
    }

    .trip-dates { 
        
        p:first-child{
            font-weight: 100;
            margin-right: 10px;
        }
    }
    .trip-content{
        padding-left: 10px;
    }

    .trip-name{
        font-size: 2rem;
    }

    .trip-desc{
        margin: 10px 10px 10px 0;
        text-align: justify;
    }

    
}


.reservation{
    flex-wrap: wrap;
    background: white;
    height: 100%;
    align-content: flex-start;
    // padding-bottom: 10px;
    h1{
        text-align: center;
        font-size: 2.4rem;
        width: 100%;
        margin-bottom: 30px;
    }

    .trip{
        display: flex;
        // margin-bottom: 10px;
        .trip-content{
            margin-left: 5px;
            padding-top: 10px;
        }
        .trip-dates { 
        
            p:first-child{
                font-weight: 100;
                margin-right: 10px;
            }
        }
        .trip-content{
            padding-left: 10px;
        }
    
        .trip-name{
            font-size: 2rem;
        }
    
        .trip-desc{
            margin: 10px 10px 10px 0;
            text-align: justify;
        }
    }

    form{
        display: flex;
        flex-direction: column;
        label{
            margin-right: 10px;
            font-size: 1.5rem;
        }
        input[type="number"]{
            font-size: 1.5rem;
            width: 50px;
        }
        div{
            margin-bottom: 10px;
            
        }
        input[type="submit"]{
            width: 80%;
            margin: 0 auto;
        }
    }
}
