{% extends 'base.html' %}

{% block content %}
<div class="login-form">
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}


      </p>
    {% endfor %}

    {% if form.errors %}
            <p style="color: red; margin-bottom: 5px;">Wrong username or password.</p>

    {% endif %}
    <!--{% for error in form.errors %}-->

    <!--{% endfor %}-->
    <button type="submit">Login</button>
  </form>

</div>

{% endblock %}

