{% extends 'base.html' %} {% block title %} Travel {% endblock title %}
{% block content %}
<section id="searchbox" class="flex">
	<div class="search-container">
		<form action="/search/" method="GET">
			{% for field in form %}
			<div id="search-{{field.name}}">
				<label>{{field.label}}</label>
				{{field}}
			</div>
			{% endfor %}

			<div class="search-submit"><input class="button" type="submit" value="Search"></div>
		</form>

</section>
<section class="trips-container">
	<div class="sort-row">
		<div>
			Order by:
			{% if order == 'departure_date' %}<a href="/-departure_date"><span>Date &#709;</span></a>{% else %}<a href="/departure_date"><span>Date &#708;</span></a>{% endif %}
			{% if order == 'price' %}<a href="/-price"><span>Price &#708;</span></a>{% else %}<a href="/price"><span>Price &#709;</span></a>{% endif %}
			{% if order == 'free_rooms' %}<a href="/-free_rooms"><span>Availability &#708;</span></a>{% else %}<a href="/free_rooms"><span>Availability &#709;</span></a>{% endif %}
			
		</div>


	</div>
	{% for trip in trips %}
	{% if trip.free_rooms > 0 %}
		<a href="/trips/{{trip.id}}" class="flex trip">

		<div class="flex trip-content">


			<div class="trip-gallery">
				{% load thumbnail %}
				<img src="{% thumbnail trip.photo1 420x260 crop %}" />
			</div>
			<div class="trip-name">{{ trip.name }}</div>
			<div class="trip-date">
				Departure: <span>{{ trip.departure_date }}</span>
			</div>
			<div class="trip-date">
				Return: <span>{{ trip.return_date }}</span>
			</div>
			{% if trip.free_rooms > 4 %}
				<div class="trip-rooms">
					{{trip.free_rooms}} rooms left
				</div>
			{% else %}
				<div class="trip-rooms danger">
					Only {{trip.free_rooms}} room{% if trip.free_rooms > 1 %}s{% endif %}  left!
				</div>
			{% endif %}
			
			<div class="trip-short">
				<p>{{trip.short_desc}}</p>
			</div>
			
			<div class="trip-price">
				{{trip.price}}€
			</div>
		</div>

	</a>
	{% endif %}
	
	{% endfor %}
</section>
{% endblock %}