{% extends 'base.html' %} {% block title %} Reservations {% endblock title %} 
{% block content %}
<section class="flex reservation">
	{% if reservations %}
	{% for reservation in reservations %}
	<a class="trip" href=/trips/{{reservation.trip.id}}>
		<div class="trip-gallery">
					{% load thumbnail %}
					<img src="{% thumbnail reservation.trip.photo1 420x260 crop %}" />
		</div>
	
	<div class="trip-content">
		<p class="trip-name">{{reservation.trip.name}}</p>
		<p>{{reservation.trip.country}}</p>
		<div class="flex trip-dates">
			<p>Departure: <span>{{ reservation.trip.departure_date|date:'Y-m-d' }}</span></p>
			<p>Return: <span>{{ reservation.trip.return_date|date:'Y-m-d' }}</span></p>
		</div>
		<div>
		Rooms: {{reservation.rooms}}
		</div>
		<div>
			Booked at {{reservation.time}}
		</div>

		<p class="trip-desc">{{reservation.trip.long_desc}}</p>


		<p class="trip-price">{{reservation.trip.price}}€</p>
		
	</div>
	</a>
	{% endfor %}
	{% else %}
	<p style="margin: 0 auto; font-size: 1.4rem;">You have no active reservations.</p>
	{% endif %}
</section>
{% endblock %}
