{% extends 'base.html' %}
{% block title %}
    {{trip.name}}
{% endblock title %}
{% block content %}
<section class="trips">
	
	<div class="flex trip-content">
			<div class="trip-gallery">
				{% load thumbnail %}
				<img src="{% thumbnail trip.photo1 420x260 box=trip.cropping crop detail %}" />
			</div>
			<div class="trip-name">{{ trip.name }}</div>
			<div class="trip-date">
				Departure: <span>{{ trip.departure_date }}</span>
			</div>
			<div class="trip-date">
				Return: <span>{{ trip.return_date }}</span>
			</div>
			<div class="trip-short">
				<p>{{trip.short_desc}}</p>
			</div>
			<div class="trip-price">
				{{trip.price}}€
			</div>
		</div>
</section>
{% endblock content %}