{% extends 'base.html' %}
{% block title %}
{{trip.name}}
{% endblock title %}
{% block content %}
<section class="flex trip-view">


	<div class="trip-gallery">
		<div>&lt;</div>
		<div>&gt;</div>
		<img id="gallery" src="" />

	</div>

	<div class="trip-content">
		<p class="trip-name">{{trip.name}}</p>
		<p>{{trip.country}}</p>
		<div class="flex trip-dates">
			<p>Departure: <span>{{ trip.departure_date|date:'Y-m-d' }}</span></p>
			<p>Return: <span>{{ trip.return_date|date:'Y-m-d' }}</span></p>
		</div>
		{% if trip.free_rooms > 4 %}
		<div class="trip-rooms">
			{{trip.free_rooms}} rooms left
		</div>
		{% elif trip.free_rooms == 0 %}
		<div class="trip-rooms danger">
			Sold out!
		</div>
		{% else %}
		<div class="trip-rooms danger">
			Only {{trip.free_rooms}} rooms left!
		</div>
		{% endif %}

		<p class="trip-desc">{{trip.long_desc}}</p>


		<p class="trip-price">{{trip.price}}€</p>
		{% if trip.free_rooms > 0 %}
		<div class="trip-book">
			<a href="/reservations/new/{{trip.id}}">
				<button class="trip-book-button">Book</button>
			</a>
		</div>
		{% endif %}
	</div>




</section>

<script>
	let urls = [{% for photo in trip.photos %}"{{photo}}", {% endfor %}];
	urls = urls.filter((url) => {
		if (url !== "/media/null") return true;
	})
	const gallery = document.getElementById('gallery');
	let i = 0;
	gallery.src = urls[0];
	gallery.previousElementSibling.addEventListener('click', () => {
		i++;
		if (i > urls.length - 1) {
			i = 0;
		}
		gallery.src = urls[i];
	});
	gallery.previousElementSibling.previousElementSibling.addEventListener('click', () => {
		--i;
		if (i < 0) {
			i = urls.length - 1;
		}
		gallery.src = urls[i];
	});


</script>
{% endblock content %}
