@import url("https://fonts.googleapis.com/css?family=Lato|Courgette");
.nav {
  width: 100%;
  height: 56px;
  background-color: white;
  position: sticky;
  top: 0px;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.4); }
  .nav .nav-brand {
    font-family: 'Courgette', cursive;
    font-size: 2.8rem;
    color: #008ffb;
    padding-left: 10px; }
  .nav .nav-phone {
    padding-right: 15px; }
  .nav .nav-userbox {
    margin: auto 5px auto auto;
    color: #008ffb; }
    .nav .nav-userbox span {
      font-size: 1.4rem;
      margin-right: 10px; }

#searchbox {
  height: 70%;
  flex-direction: column;
  background-image: url("/static/images/background.jpg");
  background-attachment: fixed; }
  #searchbox .search-container {
    background-color: rgba(0, 143, 251, 0.9);
    border-radius: 10px;
    width: 90%;
    margin: auto;
    padding: 20px 20px 30px; }
    #searchbox .search-container form {
      display: flex;
      flex-wrap: wrap; }
      #searchbox .search-container form div {
        flex-grow: 2; }
      #searchbox .search-container form label {
        color: white;
        font-size: 1.4rem;
        text-shadow: 0px 0px 2px rbga(0, 0, 0, 0.6); }
      #searchbox .search-container form input {
        margin-top: 5px;
        display: block;
        font-size: 1.4rem;
        border-radius: 5px;
        border: none;
        padding: 5px;
        width: 100%; }
      #searchbox .search-container form div:nth-child(1) {
        flex-grow: 3;
        margin-right: 20px; }
      #searchbox .search-container form .search-submit {
        flex-grow: 0;
        display: flex;
        align-items: center;
        margin-left: 5px; }
        #searchbox .search-container form .search-submit input {
          margin-top: auto;
          padding-left: 15px;
          padding-right: 15px; }
          #searchbox .search-container form .search-submit input:hover {
            background-color: white;
            color: rgba(0, 0, 0, 0.5); }
      #searchbox .search-container form input:focus {
        outline: none; }

.trips-container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap; }
  .trips-container .sort-row {
    width: 100%;
    display: flex;
    padding: 10px;
    border-bottom: solid thin; }
    .trips-container .sort-row div {
      display: inline-block;
      margin: 0 10px 0 auto; }
      .trips-container .sort-row div span {
        border-right: solid thin;
        padding: 0 5px; }
      .trips-container .sort-row div span:first-child {
        padding-right: 9px; }
      .trips-container .sort-row div span:last-child {
        border-right: none; }
  .trips-container .trip {
    width: 30%;
    padding: 5px 5px 10px;
    flex-wrap: wrap;
    margin: 10px auto;
    border: solid thin rgba(0, 0, 0, 0.1);
    border-radius: 5px; }
    .trips-container .trip .trip-content {
      width: 100%;
      flex-wrap: wrap; }
      .trips-container .trip .trip-content .trip-name {
        font-weight: bold;
        font-size: 1.2rem;
        width: 100%; }
      .trips-container .trip .trip-content div {
        width: 100%;
        text-align: justify;
        margin-bottom: 5px; }
      .trips-container .trip .trip-content .trip-gallery {
        width: 40%; }
        .trips-container .trip .trip-content .trip-gallery img {
          width: 420px; }

.trip-price {
  font-size: 1.5rem;
  color: #d72567; }

.trip-book {
  text-align: center;
  margin-top: 20px; }
  .trip-book .trip-book-button {
    background-color: #d72567;
    color: white; }

.trip-view {
  margin-top: 5px;
  padding: 5px; }
  .trip-view .trip-gallery {
    margin: 0 auto;
    width: 650px; }
    .trip-view .trip-gallery img {
      width: 650px;
      height: 390px; }
    .trip-view .trip-gallery div {
      font-size: 4rem;
      color: white;
      position: absolute;
      transform: translate(0, 158px); }
    .trip-view .trip-gallery div:nth-child(2) {
      transform: translate(610px, 158px); }
  .trip-view .trip-dates p:first-child {
    font-weight: 100;
    margin-right: 10px; }
  .trip-view .trip-content {
    padding-left: 10px; }
  .trip-view .trip-name {
    font-size: 2rem; }
  .trip-view .trip-desc {
    margin: 10px 10px 10px 0;
    text-align: justify; }

.reservation {
  flex-wrap: wrap; }
  .reservation h1 {
    text-align: center;
    font-size: 2.4rem;
    width: 100%;
    margin-bottom: 30px; }
  .reservation .trip {
    display: flex; }
    .reservation .trip .trip-content {
      margin-left: 5px;
      padding-top: 10px; }
    .reservation .trip .trip-dates p:first-child {
      font-weight: 100;
      margin-right: 10px; }
    .reservation .trip .trip-content {
      padding-left: 10px; }
    .reservation .trip .trip-name {
      font-size: 2rem; }
    .reservation .trip .trip-desc {
      margin: 10px 10px 10px 0;
      text-align: justify; }
  .reservation form {
    display: flex;
    flex-direction: column; }
    .reservation form label {
      margin-right: 10px;
      font-size: 1.5rem; }
    .reservation form input[type="number"] {
      font-size: 1.5rem;
      width: 50px; }
    .reservation form div {
      margin-bottom: 10px; }
    .reservation form input[type="submit"] {
      width: 80%;
      margin: 0 auto; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  height: 100%; }

#content {
  height: 100%; }

button, .button {
  border-radius: 5px;
  font-size: 1.2rem;
  border: none;
  padding: 10px 15px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer; }
  button:hover, .button:hover {
    box-shadow: none;
    background-color: #008ffb;
    color: white; }
  button:active, .button:active {
    box-shadow: 0px 0px 2px #000 inset; }

a {
  color: inherit;
  text-decoration: none; }

.flex {
  display: flex; }

.danger {
  color: red;
  font-weight: bold; }
